[Unit]
Description=Zookeeper service
After=network.target

[Service]
Type=simple
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/java/jdk1.8.0_201/bin"
User=root
Group=root
ExecStart=/opt/kafka/kafka_2.12-2.2.0/bin/zookeeper-server-start.sh /opt/kafka/kafka_2.12-2.2.0/config/zookeeper.properties
ExecStop=/opt/kafka/kafka_2.12-2.2.0/bin/zookeeper-server-stop.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
